<h1>Recipes</h1>
    <% @recipe.each_with_index do |recipe,index| %>
        <div class="recipes">
            <ul class="recipes-title" >
                <li>Recipe:<%= index + 1 %></li>
                <li><%= link_to recipe.name, recipe_path(recipe.id)%></li>
            </ul>
            <ul class="recipes-desc">
                <li><%= recipe.description%></li>
            </ul>
        </div>
    <% end %>
