<div class="recipe-container">
  <div class="food-title">Recipe <%= @recipe.id%> </div>
  <%= render @recipe%>
  </div>
  <div class="recipe-link">
      <%= link_to 'Generate shopping list', recipe_path(@recipe.id) %>

      <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe.id)%>
  </div>
  <hr>

  <table id="foods">
  <tr class= "table-heading">
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
</table>
</div>
